/* LOGOS */

.alliance-logo {
  width: 20% !important;
  display: block;
  margin: 0;
  box-shadow: none;
  float: right;
}

.inst-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.inst-logos img, .cc-licence {
  margin: 20px auto 0 auto;
  max-width: 150px;
}

.uvic {
  margin-top: 35px !important;
  max-width: 80px!important;
}

.cc-licence {
  float: left;
  margin: 0 10px 0 0 !important;
}